{% extends 'contas/base1.html' %}
{% load crispy_forms_tags %}

{% block title %}Registre-se usar o sistema{% endblock %}

{% block content %}

<style>
    .video-responsive {
        overflow: hidden;
        padding-bottom: 90%;
        position: relative;
        height: 0;
        margin: 30px 0px;
    }

    .video-responsive iframe {
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        position: absolute;
    }
</style>
<div class="row">
    <div class="col-sm-4">
        <h3>Treinamento</h3>
        <h6>Conhecendo o sistema</h6>
        <div class="video-responsive">
            <iframe width="700" height="500"
                src="https://www.youtube.com/embed/videoseries?list=PLqu8zPFXgwkVgmLff4aBkuChpiDMCakPk" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
            </iframe>
        </div>
        <br><br><br>
        <!------------------------   Untitled design-700x150   ------------------------>
    </div>
</div>

{% endblock %}