{% extends 'contas/base1.html' %}
{% load crispy_forms_tags %}

{% block title %}Registre-se usar o sistema{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-4">
        <h3>Treinamento</h3>
        <h6>Conhecendo o sistema</h6>
        <iframe width="700" height="500"
                src="https://www.youtube.com/embed/videoseries?list=PLqu8zPFXgwkVgmLff4aBkuChpiDMCakPk" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
        </iframe>
        <br><br><br>
        <!------------------------   Untitled design-700x150   ------------------------>
    </div>
</div>

{% endblock %}