{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>InvestSystem</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<style>
    .bt {
        width: 100%;
        max-width: 100px;
        margin: 0 auto;
        text-align: center;
    }

    .bt {
        border: none;
        cursor: pointer;
        background: #aaaaaa;
        color: #ffffff;
        display: inline-block;
        margin: 5px;
        padding: 5px 10px;
        border: 1px solid #666666;

    }

    .bt :hover {
        background: #333333;
    }

    id.login-btn {
        position: absolute;
        right: 10px;
        /* posiciona a 90px para a esquerda */
        top: 10px;
        /* posiciona a 70px para baixo */
    }
</style>

<body>
    <div class="container-fluid">

        <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
            <!-- Brand -->
            <a class="navbar-brand" href="/home1">Home</a>

            <!-- Links -->
            <div class="navbar-nav">

                <li class="nav-item">
                    <div class="btn-group btn-group-sm">
                        <button type="button" class="btn btn-outline-danger">
                            <a class="nav-link" href="/news">News</a>
                        </button>
                        <button type="button" class="btn btn-outline-danger">
                            <a class="nav-link" href="/painel">Painel de Cotação</a>
                        </button>
                        <button type="button" class="btn btn-outline-danger">
                            <a class="nav-link" href="/academia">Treinamento</a>
                        </button>
                    </div>
                </li>
                <!-- Dropdown -->
                <div class="btn-group btn-group-sm">
                    <button type="button" class="btn btn-outline-warning">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                                Posição dos Players
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="/posicaopetr4">Posição PETR4</a>
                                <a class="dropdown-item" href="/posicaoitub4">Posição ITUB4</a>
                                <a class="dropdown-item" href="/posicaobbdc4">Posição BBDC4</a>
                                <a class="dropdown-item" href="/posicaobbas">Posição BBSA3</a>
                            </div>
                        </li>
                    </button>
                    <button type="button" class="btn btn-outline-warning">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                                Mapeamentos
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="/mapapetr4">Mapa PETR4</a>
                                <a class="dropdown-item" href="/mapaitub4">Mapa ITUB4</a>
                                <a class="dropdown-item" href="#">Mapa BBDC4</a>
                            </div>
                        </li>
                    </button>
                    <button type="button" class="btn btn-outline-warning">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                                Operacional
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="/put">Rastreador de PUTs</a>
                                <a class="dropdown-item" href="/dividendos">Previsão de Dividendos</a>
                                <a class="dropdown-item" href="/fundamentos">Rastreador Fundamentalista</a>
                            </div>
                        </li>
                    </button>
                </div>
                </ul>
                <li class="nav-item">
                    <div class="btn-group btn-group-sm" id="login-btn">
                        <button type="button" class="btn btn-outline-info">
                            <a class="nav-link" href="#">Dashboard</a>
                        </button>
                    </div><!--
                        <button type="bt" class="bt btn-outline-light">
                            <a href="/login">Login</a>
                        </button>-->

        </nav>

        <div class="jumbotron text-center">
            <h1>InvestSystem</h1>
            <p>Quant Finance</p>
        </div>

        {% block content %}
        {% endblock %}


    </div>
</body>

</html>