{% extends 'contas/base.html' %}
{% load crispy_forms_tags %}

{% block title %}Inciando do Zero{% endblock %}

{% block content %}

<style>
    /*Iniciando o CSS do blog*/

.inicio {
    font-size: 11pt;
    text-align: justify;
    text-indent: 35.4pt;
    margin: 20px 20px 80px 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

img {
    margin-right: 200px;
    margin-left: 200px;
    width: 70%;
    height: auto;
}

table {
    margin-right: auto;
    margin-left: auto;
    border-collapse: collapse;
    border-color: black;
    font-size: 10pt;
}

th,
tr,
td {
    border: 2px solid black;
    text-align: center;
}

th {
    background-color: green;
    text-align: center;
}

.vencimento {
    margin-right: auto;
    margin-left: auto;
    width: 70%;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}
</style>
<body>
    <main>
        <div>
            
        </div>
    </main>
    <div class="inicio">
        <h3>Entre Calls e Puts: o que são opções?</h3>
        <span>
            <p>
                O conceito de ação é mais fácil de entender, pois ações se tratam de títulos que representam a
                participação de uma sociedade econômica, ou seja, a ação representa uma pequena parcela de uma empresa.
                A opções são uma forma de derivativo, ou seja, não são
                um ativo que existe por si só, mas derivam de um ativo-objeto e são atreladas a esse, e dessa forma se
                comportam de maneira muito semelhante a um contrato. Imagine um veículo, ele por si só já é um ativo,
                não depende da existência de um contrato
                para o ser, porém, um contrato que envolva esse veículo enquanto um ativo só passa a existir se nós o
                redigirmos atrelando seus direitos, obrigações, prazos e valores ao veículo e que tenha dois indivíduos
                dispostos a firmá-lo. Essa relação
                de contrato entre partes que envolva uma ação como um ativo é o que acontece nas opções, onde para essa
                existir tem que tem um titular e um lançador dispostos a negociar termos sobre ela. No entanto, você
                pode alcançar tudo que esperaria de
                um investimento com ações operando opções, pois se comportam de maneira semelhante. Para ficar mais
                didático, abordaremos nesse texto sempre a perspectiva de contrato para opções e enfatizando o lado do
                titular ou comprador para um melhor
                entendimento.
        </span></p>
        <h3>Call e Put</h3>
        <span>
            <p>
                Como diria Lee Lowell, “só há dois tipos de opções – calls e puts. É realmente bem simples e não precisa
                ser mais complicado do que isso” (2018). Toda posição que é montada (comprar ou vender um título se
                expondo aos riscos de mercado) com opções envolve call ou puts, ou a combinação das duas, dependendo da
                estratégia ou técnica utilizada.<br>
            </p>
        </span>
        <span>
            <p>
                A <strong>CALL</strong> se trata da opção de compra, então, quem a adquire (titular) está adquirindo o
                direito de <strong>comprar</strong> um determinado ativo, por um valor previamente estabelecido ou
                <strong>Strike.</strong> Concede o direito, mas não a obrigação, pois quem compra a call decide se vai
                querer <strong>exercer</strong> o seu direito ou não. No entanto, quem vende (lançador) a call “herda”
                uma obrigação futura, que pode ser exigida pelo comprador, fazendo o lançador entregar o ativo negociado
                por aquele preço fixado quando chegar na data de vencimento.<br>
            </p>
        </span>
        <span>
            <p>
                A <strong>PUT</strong> se trata da opção de venda, então, quem a adquire (titular) está adquirindo o
                direito de <strong>vender</strong> um determinado ativo, por um valor previamente estabelecido ou
                <strong>Strike.</strong> Quem compra a put decide se vai querer <strong>exercer</strong> o seu direito
                ou não. No entanto, quem vende (lançador) a put “herda” uma obrigação futura, que pode ser exigida pelo
                comprador, fazendo o lançador ter que adquirir ativo negociado por aquele preço fixo na data de
                vencimento.<br>
            </p>
        </span>
        <span>
            <p>
                Seja no seu direito de comprar (call) ou direito de vender (put), o comprador do “contrato” escolhe se
                vai levar os termos até o exercício ou não. No entanto, quem sempre está no lado vendedor fica “à
                mercê”, ou na obrigação, de cumprir os termos que o comprador tem direito em relação a ação cuja opção
                (contrato) está relacionada. Quando uma opção, ao chegar no vencimento, não for interessante para o
                titular exercê-la, dizemos que a opção <strong>virou pó</strong>, o valor pago nela é perdido (na nossa
                analogia equivaleria a rasgar o contrato que não vale mais a pena exercer).<br>
        </span></p>
        <span>
            <p>
                Sendo assim, quem compra call espera que o valor da ação suba e ultrapasse o valor do strike, para ter
                vantagem de comprá-la mais barato que o valor do mercado, e quem compra put espera que a ação
                desvalorize para um valor abaixo do strike para ter vantagem no ato de venda quando chegar na data
                estabelecida, vendendo a ação mais cara que o valor de mercado.
        </span></p>
        <span>
            <p>
                Na transação de opções entre dois investidores, o comprador paga ao vendedor um valor que não vai ser
                devolvido, seja a opção exercida ou não, e esse valor se chama <strong>prêmio.</strong> Esse valor sofre
                influência de fatores como oferta e demanda, prazo para vencimento, diferença entre o valor da ação e o
                valor do strike e volatilidade. Ou seja, na medida que esses fatores se alterem o prêmio também vai
                alterar por sofrer influência destes, mas veremos isso mais detidamente depois. O importante é saber que
                o prêmio é o valor pago do titular para o lançador da opção (seja de call ou put), por isso é
                considerado um jogo de soma zero, onde o valor só passa de uma mão para outra no mercado.
        </span></p>
        <span>
            <p>
                A opção tem por primazia ser usada como uma proteção. Nesse sentido, a opção se comporta como um seguro,
                pois quem paga esse valor está com expectativa de se assegurar que, se alguma alteração no mercado o
                prejudique num montante maior que o simples valor do prêmio, esse prejuízo seja limitado a ele (assim
                como ocorre com um veículo, quem que o assegura, quer pagar um valor que seja menor que um possível
                gasto com algum sinistro muito dispendioso ou perca integral do próprio veículo). Por isso, que o autor
                Lee Lowell enfatiza vantagem de estar o lado vendedor da opção, porque se lançarmos a opção trabalhando
                com as probabilidades certas, você já embolsa o valor que recebeu pela transação de segurar o titular
                por um valor bem menor que o valor do próprio ativo objeto.
        </span></p>
    </div>
    <!--
    <div class="img">
        <img class="img-responsive" src="texto.jpeg">
    </div>-->
    <div class="inicio">
        <span>
            <p>
                Quanto ao vencimento da opção, como podemos ver na figura, o titular pode exercê-la até a data do
                vencimento (se for uma opção americana) ou na data de vencimento (na opção europeia), que são como
                funcionam as opções na B3, a bolsa de valores brasileira. Os vencimentos na B3 ocorrem sempre na
                terceira segunda feira de cada mês e passará a ser nas 3ª sexta-feira de cada mês.
            </p>
        </span>
    </div>
    <div class="col-sm-12">
        <table class="responsive">
            <thead>
                <th>Opcoes</th>
                <th>Posicoes</th>
                <th>Direitos</th>
                <th>Obrigacoes</th>
                <th>Expectativas</th>
            </thead>
            <tbody>
                <tr>
                    <td rowspan="2">Venda</td>
                    <td>Lançador de uma opção de venda</td>
                    <td>Receber prêmio</td>
                    <td>Comprar e assumir mais risco</td>
                    <td>Aumento ou manutenção no preço de mercado da ação no dia do exercício.</td>
                </tr>
                <tr>
                    <td>Titular de uma opção de venda</td>
                    <td>Vender ou não</td>
                    <td>Pagar o prêmio</td>
                    <td>Queda no preço de mercado da ação no dia do exercício.</td>
                </tr>
                <tr>
                    <td rowspan="2">Compra</td>
                    <td>Lançador de uma opção de compra</td>
                    <td>Receber prêmio</td>
                    <td>Vender e assumir mais risco</td>
                    <td>Queda ou manutenção no preço de mercado da ação no dia do exercício.</td>
                </tr>
                <tr>
                    <td>Titular de uma opção de compra</td>
                    <td>Comprar ou não</td>
                    <td>Pagar o prêmio</td>
                    <td>Aumento no preço de mercado da ação no dia do exercício.</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="inicio">
        <h3>Codificação de opções</h3>
        <span>
            <p>
                A B3 codifica as séries de opções através de um código que contém símbolo (S), letra (L) e número (NN),
                sendo conjugado da seguinte maneira: SSSS+L+NN. Onde o símbolo representa o ativo objeto (Ex:
                PETR=Petrobras; BBDC=Bradesco), a letra indica se a opção é de compra ou de venda e seu respectivo mês
                de vencimento (Ex: C=call com vencimento em Março; W=put com vencimento em Novembro), e o número que
                indica o preço do exercício estipulado pela bolsa (Ex:26=strike R$26,00; 231=strike R$23,90)
            </p>
        </span>
    </div>
    <div class="col-sm-12">
        <table class="vencimento">
            <thead>
                <th>Opcao de Compra (CALL)</th>
                <th>Opcao de Venda (PUT)</th>
                <th>Vencimento</th>
            </thead>
            <tbody>
                <tr>
                    <td>A</td>
                    <td>M</td>
                    <td>JANEIRO</td>
                </tr>
                <tr>
                    <td>B</td>
                    <td>N</td>
                    <td>FEVEREIRO</td>
                </tr>
                <tr>
                    <td>C</td>
                    <td>O</td>
                    <td>MARÇO</td>
                </tr>
                <tr>
                    <td>D</td>
                    <td>P</td>
                    <td>ABRIL</td>
                </tr>
                <tr>
                    <td>E</td>
                    <td>Q</td>
                    <td>MAIO</td>
                </tr>
                <tr>
                    <td>F</td>
                    <td>R</td>
                    <td>JUNHO</td>
                </tr>
                <tr>
                    <td>G</td>
                    <td>S</td>
                    <td>JULHO</td>
                </tr>
                <tr>
                    <td>H</td>
                    <td>T</td>
                    <td>AGOSTO</td>
                </tr>
                <tr>
                    <td>I</td>
                    <td>U</td>
                    <td>SETEMBRO</td>
                </tr>
                <tr>
                    <td>J</td>
                    <td>V</td>
                    <td>OUTUBRO</td>
                </tr>
                <tr>
                    <td>K</td>
                    <td>W</td>
                    <td>NOVEMBRO</td>
                </tr>
                <tr>
                    <td>L</td>
                    <td>X</td>
                    <td>DEZEMBRO</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="inicio">
        <h3>Exemplo</h3>
        <span>
            <p>
                Nesse exemplo utilizaremos um produto mais palpável que uma ação para um melhor entendimento de uma
                transação com derivativo. Vamos utilizar a saca de trigo como ativo exemplo para entendermos como seria
                a lógica das opções, mesmo que já exista um mercado de futuro para esse produto vamos imaginar que seja
                uma call e uma put.
            </p>
        </span>
        <span>
            <p>
                No caso de um exemplo de call, imagine um dono de uma padaria que depende do trigo para produção da
                maioria de seus produtos, e consequentemente esse trigo exerce muita influência no seu preço dos
                produtos acabados. Imagine que o preço da saca esteja R$30,00 e esteja sofrendo oscilações e impactando
                nos seus custos e valor de venda dos seus produtos, para evitar essa oscilação nas vendas de final de
                ano (faltam 3 meses) ele adquire uma “call” que custe R$2,00 por saco para exercer o direito de comprar
                a saca a R$30,00 na data estabelecida. Então, se a saca estiver a qualquer valor acima de R$30,00 na
                data de exercício, ele irá garantir uma compra de trigo a R$30,00, e se estiver mais barato que isso não
                exercerá a compra, mas também estaria protegendo sua produção com um custo adicional de R$2,00.
            </p>
        </span>
        <span>
            <p>
                No caso de um exemplo de put, imagine agora um produtor que queira garantir um valor de retorno de sua
                produção de trigo que também cubra adequadamente os seus custos de plantio. Imagine que a oscilação o
                esteja incomodando, e ele queira garantir um valor de venda de R$30,00 para honrar as despesas e ainda
                ter lucro, então, pode comprar o direito de vender a R$2,00 a saca de trigo na data estabelecida. E
                inversamente à lógica da call, qualquer valor de mercado abaixo de R$30,00 será interessante para
                exercer a sua put e ter o direito de vender pelo preço estabelecido.
            </p>
        </span>
    </div>
</body>

{% endblock %}