{% extends 'contas/base1.html' %}
{% load crispy_forms_tags %}

{% block title %}Registre-se usar o sistema{% endblock %}

{% block content %}

<!-- Inicio do processo logico-->
<style>
    <style>ul {
        color: black;
        font-family: verdana;
        font-size: 85%;
        text-align: right;
    }

    table,
        {
        left: 5%;
    }

    table,
    th,
    td {
        border: 1px solid black;
        border-collapse: collapse;
    }


    th,
    td {
        padding: 1px;
        text-align: center;
    }

    tbody {
        font-size: 85%;
        letter-spacing: 1px padding: 1px;
        text-align: center;
    }

    thead {

        td {
            text-align: center;
            1px solid black;
        }

        .col-m-4 {

            padding: 10px;
        }
</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-l-7">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Empresa</th>
                            <th>Cotacao</th>
                            <th>Preco/VPA</th>
                            <th>Dividendos 12m</th>
                            <th>VPA</th>
                            <th>Lucro/Ação</th>
                            <th>Preço By Graham</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <ul>{% for empresa in Empresa%}
                                    <ul>{{empresa}}</ul>
                                    {%endfor%}
                                </ul>
                            </td>
                            <td>
                                <ul>{% for cotacao in Cotacao%}
                                    <ul>R$ {{cotacao}}</ul>
                                    {%endfor%}
                                </ul>
                            </td>
                            <td>
                                <ul>{% for precoVPA in PrecoVPA%}
                                    <ul>{{precoVPA}}</ul>
                                    {%endfor%}
                                </ul>
                            </td>
                            <td>
                                <ul>{% for dividendos in Dividendos%}
                                    <ul>{{dividendos}}%</ul>
                                    {%endfor%}
                                </ul>
                            <td>
                                <ul>{% for VPA in VPA%}
                                    <ul>{{VPA}}</ul>
                                    {%endfor%}
                                </ul>
                            </td>
                            <td>
                                <ul>{% for LucroAcao in LucroAcao%}
                                    {%if LucroAcao < 0%}
                                    <ul style="color: red"><b>{{LucroAcao}}</b></ul>
                                    {%else%}
                                    <ul>{{LucroAcao}}</ul>
                                    {%endif%}
                                    {%endfor%}
                                </ul>
                            </td>
                            <td>
                                <ul>{% for Graham in Graham%}
                                    <ul>R$ {{Graham}}</ul>
                                    {%endfor%}
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-m-4">

            <!-- TradingView Widget BEGIN -->
            <div class="tradingview-widget-container">
                <div class="tradingview-widget-container__widget"></div>
                <div class="tradingview-widget-copyright"><a href="https://br.tradingview.com/symbols/BMFBOVESPA-PETR4/"
                        rel="noopener" target="_blank"><span class="blue-text"></span></a>
                </div>
                <script type="text/javascript"
                    src="https://s3.tradingview.com/external-embedding/embed-widget-financials.js" async>
                        {
                            "symbol": "BMFBOVESPA:PETR4",
                                "colorTheme": "dark",
                                    "isTransparent": false,
                                        "largeChartUrl": "",
                                            "displayMode": "regular",
                                                "width": "400",
                                                    "height": "500",
                                                        "locale": "br"
                        }
                    </script>
            </div>
        </div>
        <div class="col-m-4">
            <!-- TradingView Widget END -->

            <!-- TradingView Widget BEGIN -->
            <div class="tradingview-widget-container">
                <div class="tradingview-widget-container__widget"></div>
                <div class="tradingview-widget-copyright"><a href="https://br.tradingview.com/symbols/BMFBOVESPA-PETR4/"
                        rel="noopener" target="_blank"><span class="blue-text"></span></a>
                </div>
                <script type="text/javascript"
                    src="https://s3.tradingview.com/external-embedding/embed-widget-financials.js" async>
                        {
                            "symbol": "BMFBOVESPA:ITUB4",
                                "colorTheme": "dark",
                                    "isTransparent": false,
                                        "largeChartUrl": "",
                                            "displayMode": "regular",
                                                "width": "400",
                                                    "height": "500",
                                                        "locale": "br"
                        }
                    </script>
            </div>
            <!-- TradingView Widget END -->


        </div>

    </div>
</div>

{% endblock %}