{% extends 'contas/base1.html' %}
{% load crispy_forms_tags %}

{% block title %}Registre-se usar o sistema{% endblock %}

{% block content %}

<!-- Inicio do processo logico-->
<style>
  .home-responsivo {
    left: 0;
    top: 20;
    overflow: hidden;
    padding-bottom: 90%;
    position: absolute;
    height: 500;
    margin: 0px 0px;
  }

  .container-fluid {
    left: 0;
    top: 10px;
  }

  .news {
    right: 10px;
    top: 10px;
  }

  .container {
    right: 0;
    top: 10px;
  }
</style>

<!--Comeca a logica desta pagina-->
<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
  <div class="tradingview-widget-container__widget"></div>
  <div class="tradingview-widget-copyright"><a href="https://br.tradingview.com" rel="noopener" target="_blank"><span
        class="blue-text"></span></a></div>
  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js" async>
    {
      "symbols": [
        {
          "proName": "FOREXCOM:SPXUSD",
          "title": "S&P 500"
        },
        {
          "proName": "FOREXCOM:NSXUSD",
          "title": "Nasdaq 1000"
        },
        {
          "description": "Brent",
          "proName": "TVC:UKOIL"
        },
        {
          "description": "Down Jones",
          "proName": "CURRENCYCOM:US30"
        },
        {
          "description": "PBR",
          "proName": "NYSE:PBR"
        }
      ],
        "showSymbolLogo": true,
          "colorTheme": "dark",
            "isTransparent": false,
              "displayMode": "adaptive",
                "locale": "br"
    }
  </script>

  <!-- TradingView Widget END -->


  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-7">
        <P>
          <!-- TradingView Widget BEGIN -->
        <div class="home-responsivo">
          <div class="tradingview-widget-container">
            <div id="tradingview_54784"></div>
            <div class="tradingview-widget-copyright"><a href="https://br.tradingview.com/symbols/TVC-UKOIL/"
                rel="noopener" target="_blank"><span class="blue-text"></span></a></div>
            <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
            <script type="text/javascript">
              new TradingView.widget(
                {
                  "width": 700,
                  "height": 500,
                  "symbol": "TVC:UKOIL",
                  "interval": "D",
                  "timezone": "Etc/UTC",
                  "theme": "dark",
                  "style": "1",
                  "locale": "br",
                  "toolbar_bg": "#f1f3f6",
                  "enable_publishing": false,
                  "allow_symbol_change": true,
                  "container_id": "tradingview_54784"
                }
              );
            </script>
          </div>
          <!-- TradingView Widget BEGIN -->
          <div class="tradingview-widget-container">
            <div class="tradingview-widget-container__widget"></div>
            <div class="tradingview-widget-copyright"><a href="https://br.tradingview.com/markets/" rel="noopener"
                target="_blank"><span class="blue-text"></span></a></div>
            <script type="text/javascript"
              src="https://s3.tradingview.com/external-embedding/embed-widget-market-quotes.js" async>
                {
                  "width": "700",
                    "height": "500",
                      "symbolsGroups": [
                        {
                          "name": "Índices",
                          "originalName": "Indices",
                          "symbols": [
                            {
                              "name": "FOREXCOM:SPXUSD",
                              "displayName": "S&P 500"
                            },
                            {
                              "name": "FOREXCOM:NSXUSD",
                              "displayName": "Nasdaq 100"
                            },
                            {
                              "name": "FOREXCOM:DJI",
                              "displayName": "Dow 30"
                            },
                            {
                              "name": "INDEX:NKY",
                              "displayName": "Nikkei 225"
                            },
                            {
                              "name": "INDEX:DEU30",
                              "displayName": "DAX Index"
                            },
                            {
                              "name": "FOREXCOM:UKXGBP",
                              "displayName": "FTSE 100"
                            }
                          ]
                        },
                        {
                          "name": "Commodities",
                          "originalName": "Commodities",
                          "symbols": [
                            {
                              "name": "CME_MINI:ES1!",
                              "displayName": "S&P 500"
                            },
                            {
                              "name": "CME:6E1!",
                              "displayName": "Euro"
                            },
                            {
                              "name": "COMEX:GC1!",
                              "displayName": "Gold"
                            },
                            {
                              "name": "NYMEX:CL1!",
                              "displayName": "Crude Oil"
                            },
                            {
                              "name": "NYMEX:NG1!",
                              "displayName": "Natural Gas"
                            },
                            {
                              "name": "CBOT:ZC1!",
                              "displayName": "Corn"
                            }
                          ]
                        },
                        {
                          "name": "Títulos",
                          "originalName": "Bonds",
                          "symbols": [
                            {
                              "name": "CME:GE1!",
                              "displayName": "Eurodollar"
                            },
                            {
                              "name": "CBOT:ZB1!",
                              "displayName": "T-Bond"
                            },
                            {
                              "name": "CBOT:UB1!",
                              "displayName": "Ultra T-Bond"
                            },
                            {
                              "name": "EUREX:FGBL1!",
                              "displayName": "Euro Bund"
                            },
                            {
                              "name": "EUREX:FBTP1!",
                              "displayName": "Euro BTP"
                            },
                            {
                              "name": "EUREX:FGBM1!",
                              "displayName": "Euro BOBL"
                            }
                          ]
                        },
                        {
                          "name": "Forex",
                          "originalName": "Forex",
                          "symbols": [
                            {
                              "name": "FX:EURUSD"
                            },
                            {
                              "name": "FX:GBPUSD"
                            },
                            {
                              "name": "FX:USDJPY"
                            },
                            {
                              "name": "FX:USDCHF"
                            },
                            {
                              "name": "FX:AUDUSD"
                            },
                            {
                              "name": "FX:USDCAD"
                            }
                          ]
                        }
                      ],
                        "showSymbolLogo": true,
                          "colorTheme": "dark",
                            "isTransparent": false,
                              "locale": "br"
                }
              </script>
          </div>
          <!-- TradingView Widget END -->
        </div>
        <!-- TradingView Widget END -->
      </div>
      <div class="col-sm-4">
        <div class="news" style="text-align: justify;">
          <h3 style="text-align: center;">Notícias Brasil</h3>
          <p>
            {%for news in Manchete%}
          <ul>{{news}}</ul>
          {%endfor%}
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- adicionar logica para assinatura do sistema
  <div class="row">
    <div class="col-lg-12">
      <h3>Escolha a opção assinar</h3>
      <p>A cobrança será mensalmente e você pode cancelar quando quiser, assim você ajuda o projeto a crescer.</p>
      <ul class="nav nav-pills flex-column">
        <li class="nav-item">
          <a class="nav-link active" href="#"><a class="nav-link" href="#"><form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="W3FMANZ7BX37Y">
            <input type="image" src="https://www.paypalobjects.com/pt_BR/BR/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal - A maneira fácil e segura de enviar pagamentos online!">
            <img alt="" border="0" src="https://www.paypalobjects.com/pt_BR/i/scr/pixel.gif" width="1" height="1">
            </form>
          </a>
        </li>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="https://forms.office.com/Pages/ResponsePage.aspx?id=DQSIkWdsW0yxEjajBLZtrQAAAAAAAAAAAANAAcltjjRUQ0RZOFlSWUtPTU1LNjEzUDVaSFVaQVExTy4u">Responda Nossa Pesquisa</a>
        </li><br>
        <li class="nav-item">
          <a class="nav-link active" href="https://forms.office.com/Pages/ResponsePage.aspx?id=DQSIkWdsW0yxEjajBLZtrQAAAAAAAAAAAANAAcltjjRUN01XU1lXVE1XRzgxWE5TRlNRNEUxSFY4Ti4u">Novo na Platarforma? Preencha o formulário</a>
        </li>
      </ul>
      <div>
        <h5>Disclaimer</h5>
         <a>
           <style>
             a {
               font-size: 70%;
               text-align: center;
              }
           </style>
                As informações disponibilizadas na ferramenta, não configuram um relatório de análise
                ou qualquer tipo de recomendação e foram obtidas a partir de fontes públicas como a
                CVM. Rentabilidade passada não representa garantia de resultados futuros e apesar do
                cuidado na coleta e manuseio das informações, elas não foram conferidas
                individualmente. As informações são enviadas pelos próprios gestores aos órgãos
                reguladores e podem haver divergências pontuais e atraso em determinadas
                atualizações. Não ha garantias em sua exatidão, atualização, precisão, adequação,
                integridade ou veracidade, tampouco se responsabilizam pela publicação acidental de
                dados incorretos.
                É proibida a reprodução total ou parcial de textos, fotos, ilustrações ou qualquer outro
                conteúdo deste site por qualquer meio sem a prévia autorização de seu autor/criador ou
                do administrador, conforme LEI Nº 9.610, de 19 de fevereiro de 1998.
          </a>-->
</div>

</div>
</div>


{% endblock %}