{% extends 'contas/base1.html' %}
{% load crispy_forms_tags %}

{% block title %}Registre-se usar o sistema{% endblock %}

{% block content %}

<!-- Inicio do processo logico-->
<style>
        ul  {
          color: black;
          font-family: verdana;
          font-size: 80%;
          text-align: justify;
        }

        h3  {
          color: black;
          font-family: verdana;
          text-align: center;
        }

</style>
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h3>Notícias Brasil</h3>
            <p>
                {%for news in Manchete%}
            <ul>{{news}}</ul>
            {%endfor%}
            </p>
        </div>
        <div class="col-sm-4">
            <h3>Notícias Mundo</h3>
            <p>
                {%for cnbc in MancheteCNBC%}
            <ul>{{cnbc}}</ul>
            {%endfor%}
            </p>
        </div>
        <div class="col-sm-4">
            <h3>Notícias Trading</h3>
            <p><!--Digitar aqui noticias tradingeconomics--></p>
        </div>
    </div>
</div>

{% endblock %}
