{% extends 'contas/base1.html' %}
{% load crispy_forms_tags %}

{% block title %}Planos e custos{% endblock %}

{% block content %}

<style>
    table {
        float: left;
        text-align: center;
        font-size: 15px;
        width: 100%;
    }

    #botao{
        margin-left: 10px;
        width: 100%;
    }

    .fa-check {
        color: #00FA9A;
        cursor: pointer;
        font-size: 20px;
        float: center;
    }

    .fa-times {
        color: #DC143C;
        cursor: pointer;
        font-size: 20px;
        float: center;
    }

    h3 {
        text-align: left;
    }

</style>

<!--Criando area de plano-->
<main>
    <div class="container-fluid">
        <div class="row">
            <span>
                <!--Criando tabela com botao no paypal-->
                <div class="col-lg-6">
                    <div class="col-sm-12">
                        <h4>Conheça nossos planos</h4>
                        <table class="table table-striped" id="table">
                            <thead>
                                <th style="text-align: left;">Planos</th>
                                <th>Estratégias</th>
                                <th>Treinamentos</th>
                                <th>Grupo exclusivo</th>
                                <th>Assessoria exclusiva</th>
                                <th>Valores/Mês</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td style="text-align: left;">Green</td>
                                    <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                    <td><i class="fa fa-times" aria-hidden="true"></i></td>
                                    <td><i class="fa fa-times" aria-hidden="true"></i></td>
                                    <td><i class="fa fa-times" aria-hidden="true"></i></td>
                                    <th>R$ 30,00</th>
                                </tr>
                                <tr>
                                    <td style="text-align: left;">Premium</td>
                                    <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                    <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                    <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                    <td><i class="fa fa-times" aria-hidden="true"></i></td>
                                    <th>R$ 50,00</th>
                                </tr>
                                <tr>
                                    <td style="text-align: left;">Blue</td>
                                    <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                    <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                    <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                    <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                    <th>Sob consulta</th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-lg-6" id="botao">
                    <div id="paypal-button-container"></div>
                    <script
                        src="https://www.paypal.com/sdk/js?client-id=AflWb9Tkeciod7PFAUnKlx52Fwv3396-cNfJBfeOwwnyaXwjYW1fX_YIqwobU2CXaXuPFyYqgESpyXwZ&vault=true&intent=subscription"
                        data-sdk-integration-source="button-factory"></script>
                    <script>
                        paypal.Buttons({
                            style: {
                                shape: 'rect',
                                color: 'silver',
                                layout: 'vertical',
                                label: 'subscribe'
                            },
                            createSubscription: function (data, actions) {
                                return actions.subscription.create({
                                    'plan_id': 'P-32A91918LF140972JL6QKQFI'
                                });
                            },
                            onApprove: function (data, actions) {
                                alert(data.subscriptionID);
                            }
                        }).render('#paypal-button-container');
                    </script>
                </div>
            </span>
        </div>
    </div>
</main>
{% endblock %}