<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="refresh" content="120">

  <title>InvestSystem</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <style>
  .fakeimg {
    height: 200px;
    background: #aaa;
  }
  </style>
</head>
<body>

<div class="jumbotron text-center" style="margin-bottom:0">
  <h1>InvestSystem</h1>
  <p>Quant Finance</p>
</div>
<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
  <div class="tradingview-widget-container__widget"></div>
  <div class="tradingview-widget-copyright"><a href="https://br.tradingview.com" rel="noopener" target="_blank"><span class="blue-text"></span></a></div>
  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js" async>
  {
  "symbols": [
    {
      "proName": "FOREXCOM:SPXUSD",
      "title": "S&P 500"
    },
    {
      "proName": "FOREXCOM:NSXUSD",
      "title": "Nasdaq 1000"
    },
    {
      "proName": "FX_IDC:EURUSD",
      "title": "EUR/USD"
    },
    {
      "description": "USD/BRL",
      "proName": "FX_IDC:USDBRL"
    },
    {
      "description": "BRENT",
      "proName": "TVC:UKOIL"
    },
    {
      "description": "WIT",
      "proName": "TVC:USOIL"
    }
  ],
  "colorTheme": "dark",
  "isTransparent": false,
  "displayMode": "adaptive",
  "locale": "br"
}
  </script>
</div>
<!-- TradingView Widget END -->

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <a class="navbar-brand" href="{%url 'url_home1'%}">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="dropdown">
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
      Posicao Players
    </button>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="{%url 'url_posicaoBBAS'%}">BBAS3</a>
      <a class="dropdown-item active" href="{%url 'url_posicaopetr4'%}">PETR4</a>
      <a class="dropdown-item active" href="{%url 'url_posicaoitub4'%}">ITUB4</a>
      <a class="dropdown-item active" href="{%url 'url_posicaobbdc4'%}">BBDC4</a>
      <a class="dropdown-item disabled" href="">Em Breve VALE3</a>
    </div>
  </div>
  <div class="dropdown">
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
      Análise de Dados
    </button>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="{%url 'url_mapapetr4'%}">PETR4</a>
      <a class="dropdown-item disabled" href="{%url 'url_posicaopetr4'%}">Em breve Vale</a>
      <a class="dropdown-item disabled" href="{%url 'url_posicaoitub4'%}">Em breve ITUB4</a>
      <a class="dropdown-item disabled" href="{%url 'url_posicaobbdc4'%}">Em breve BBDC4</a>
      <a class="dropdown-item disabled" href="">Em Breve JBSS3</a>
    </div>
  </div>

  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="{%url 'url_roboput'%}">Robô Put</a>
      </li>
      <li class="nav-item">
        <div class="btn-group btn-group-sm">
          <button type="button" class="btn btn-outline-danger">
            <a class="nav-link" href="{%url 'url_news'%}">News</a>
          </button>
        </div>      </li>
      <li class="nav-item">
        <a class="nav-link" href="{%url 'url_rolagens'%}">Rolagem</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{%url 'url_painel'%}">Painel Cotacao</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{%url 'url_fundamentos'%}">Fundamentos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{%url 'url_academia'%}">Academy</a>
      </li>
    </ul>
  </div>
</nav>
<head>
<style>

  table {
    border: 3px solid rgb(100,130,40);
    width: 70%
    border-collapse: collapse;
    text-align: center;

  }
  tbody {
    font-size: 70%;
    letter-spacing: 1px
    padding: 1px;
    text-align: center;
  }
  thead {
    color: darkblue;
    background: #aaa;
  }
  td{
    text-align: center;
    border: 1px solid rgb(100,130,40);
  }
</style>
</head>
<body>
<table>
   <thead>
      <tr>
        <th>Opcao (C)</th>
        <th>Tipo (C)</th>
        <th>Venc. (C)</th>
        <th>Strike (C)</th>
        <th>Cotação (C)</th>
        <th>Opcao (V)</th>
        <th>Venc. (V)</th>
        <th>Strike (V)</th>
        <th>Cotação (V)</th>
        <th>Spread</th>
        <th>Sinal</th>
      </tr>
   </thead>
   <tbody>
      <tr>
        <td>
          <ul>
            {% for opcoesC in OpcaoC%}
            <ul>{{opcoesC}}</ul>
            {%endfor%}
          </ul>
        </td>
        <td>
          <ul>
            {% for tipoC in TipoC%}
            <ul>{{tipoC}}</ul>
            {%endfor%}
          </ul>
        </td>
        <td>
          <ul>
            {% for vencC in VencC%}
            <ul>16/11/2020</ul>
            {%endfor%}
          </ul>
        </td>
        <td>
          <ul>
            {% for strikeC in StrikeC%}
            <ul>{{strikeC}}</ul>
            {%endfor%}
          </ul>
        </td>
        <td>
          <ul>
            {% for cotacaoC in CotacaoC%}
            <ul>{{cotacaoC}}</ul>
            {%endfor%}
          </ul>
        </td>
        <td>
          <ul>
            {% for opcoesV in OpcaoV%}
            <ul>{{opcoesV}}</ul>
            {%endfor%}
          </ul>
        </td>
        <td>
          <ul>
            {% for vencV in VencV%}
            <ul>21/12/2020</ul>
            {%endfor%}
          </ul>
        </td>
        <td>
          <ul>
            {% for strikeV in StrikeV%}
            <ul>{{strikeV}}</ul>
            {%endfor%}
          </ul>
        </td>
        <td>
          <ul>
            {% for cotacaoV in CotacaoV%}
            <ul>{{cotacaoV}}</ul>
            {%endfor%}
          </ul>
        </td>
        <td>
          <ul>
            {% for spread in Spread%}
            <ul>R${{spread}}</ul>
            {%endfor%}
          </ul>
        </td>
        <td>
          <ul>
            {% for sinal in Sinal%}
              {% if sinal == "Aguardar"%}
            <ul style="color: red">{{sinal}}</ul>
              {%else%}
            <ul style="color: green">{{sinal}}</ul>
              {%endif%}
            {%endfor%}
          </ul>
        </td>
      </tr>
   </tbody>
</table>
</body>
<div class="spinner-border text-success"></div>
</html