{% extends 'contas/base1.html' %}
{% load crispy_forms_tags %}

{% block title %}Planos e custos{% endblock %}

{% block content %}

<style>
    .dashboard {
        padding: 0;
        width: 100%;
        display: block;
        align-items: center;
        margin: auto;
    }

    .dashboard h4 {
        font-size: 20px;
    }

    .dashboard span {
        font-size: 40px;
        display: block;
        width: 100%;
    }

    .dashboard-box {
        float: left;
        background-color: #DFDFDF;
        color: #FFF;
        padding: 20px;
        box-sizing: border-box;
        height: 100%;
        width: 600px;
        text-align: center;
    }

    .dashboard-box:nth-child(2) {
        margin-left: 1.5%;
        margin-right: 1.5%;
    }

    #green {
        background-color: #A9A9A9;
    }

    p {
        text-align: justify;
        font-size: 20px;
    }

    table {

        text-align: center;
        font-size: 15px;
    }

    #paypal-button-container {
        margin-top: 30%;
    }
</style>
<meta http-equiv="Content-Language" content="pt-br">

<div class="offset-1 col-10 list-div">
    <h3>Diario de Trader</h3>

    <div class="container dashboard">
        <div class="col-4 dashboard-box" id="green">
            <h4>Plano green</h4>
            <span>
                <p>O recurso assinar e a melhor maneira de deixar voce atualizado sobre nossos robos e analises.</p>
                <div class="container">
                    <table class="table">
                        <thead>
                            <th style="text-align: left;">Planos</th>
                            <th>Estrategias</th>
                            <th>Treinamentos</th>
                            <th>Grupo exclusivo</th>
                            <th>Assessoria</th>
                            <th>Assessoria exclusiva</th>
                            <th>Valores/Mes</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="text-align: left;">Green</td>
                                <td><span><i class="fas fa-check"></i></span></td>
                                <td>Nao</td>
                                <td>Nao</td>
                                <td>Nao</td>
                                <td>Nao</td>
                                <td>R$ 30,00</td>

                            </tr>
                            <tr>
                                <td style="text-align: left;">Premium</td>
                                <td>Sim</td>
                                <td>Sim</td>
                                <td>Sim</td>
                                <td>Sim</td>
                                <td>Nao</td>
                                <td>R$ 50,00</td>

                            </tr>
                            <tr>
                                <td style="text-align: left;">Blue</td>
                                <td>Sim</td>
                                <td>Sim</td>
                                <td>Sim</td>
                                <td>Sim</td>
                                <td>Sim</td>
                                <td>R$ 450,00</td>

                            </tr>
                        </tbody>
                    </table>
                </div>
                <div>
                    <div id="paypal-button-container"></div>
                    <script
                        src="https://www.paypal.com/sdk/js?client-id=AflWb9Tkeciod7PFAUnKlx52Fwv3396-cNfJBfeOwwnyaXwjYW1fX_YIqwobU2CXaXuPFyYqgESpyXwZ&vault=true&intent=subscription"
                        data-sdk-integration-source="button-factory"></script>
                    <script>
                        paypal.Buttons({
                            style: {
                                shape: 'rect',
                                color: 'silver',
                                layout: 'vertical',
                                label: 'subscribe'
                            },
                            createSubscription: function (data, actions) {
                                return actions.subscription.create({
                                    'plan_id': 'P-32A91918LF140972JL6QKQFI'
                                });
                            },
                            onApprove: function (data, actions) {
                                alert(data.subscriptionID);
                            }
                        }).render('#paypal-button-container');
                    </script>
                </div>
            </span>
        </div>

    </div>
</div>

{% endblock %}