{% extends 'contas/base1.html' %}
{% load crispy_forms_tags %}

{% block title %}Registre-se usar o sistema{% endblock %}

{% block content %}

<style>
  ul {
    color: black;
    font-family: verdana;
    font-size: 85%;
    text-align: right;
  }

  table,
  th,
  td {
    border: 1px solid black;
    border-collapse: collapse;
  }


  th,
  td {
    padding: 1px;
    text-align: center;
  }

  tbody {
    font-size: 85%;
    letter-spacing: 1px padding: 1px;
    text-align: center;
  }

  thead {

    td {
      text-align: center;
      1px solid black;
    }
</style>

<div class="container mt-4">
  <form action="submit" , method="POST">{% csrf_token%}
    <h2>InvestSystem</h2>
    <div class="form-group">
      <label for="username">Usuario</label>
      <input type="text" , class="form-control" id="username" name="username" placeholder="username">
    </div>
    <div class="form-group">
      <label for="password">Senha</label>
      <input type="password" , class="form-control" id="password" name="password" placeholder="Senha">
    </div>
    <div>
      {% for message in messages%}
      <div class="alert alert-danger">
        <strong>Error</strong> {{message}}
      </div>
      {%endfor%}
      <button type="submit" class="btn btn-success">Entrar</button>
      <p class="change-form-p">Ainda nao tem uma conta?
        <a href="http://investsystem.ngrok.io/accounts/register/">Clique aqui!</a>
      </p>
    </div>
  </form>

</div>

{% endblock %}